In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('train.csv')

In [35]:
df.query('installments > 0')

,store_id,date,time,card_id,amount,installments,days_of_week,holyday
152,0,2016-12-21,10:48:04,65d5e33f69,445,3.0,2,0
155,0,2016-12-21,11:16:17,65d5e33f69,-445,3.0,2,0
206,0,2016-12-21,14:26:24,4a8e737d2c,277,2.0,2,0
311,0,2016-12-21,22:17:30,3f59e8684b,375,3.0,2,0
651,0,2016-12-24,11:59:37,583d5dd51c,408,3.0,5,0
...,...,...,...,...,...,...,...,...
3362429,1799,2017-05-14,21:14:12,54b471994c,1500,3.0,6,0
3362486,1799,2017-07-19,14:30:10,e47d9a18e4,3850,3.0,2,0
3362514,1799,2017-08-18,19:08:43,f293d9dc0c,300,2.0,4,0
3362701,1799,2018-02-19,18:34:25,be98bd957b,1175,3.0,0,0
3362740,1799,2018-05-01,18:40:11,f293d9dc0c,300,2.0,1,1